@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Lexend','sans-serif';
    font-size: 16px;
    line-height: 24px;
    background-color: #202020;

}
.container{
    width: 1170px;
    margin: auto;
}
/*Header */
.header-area{
    padding:25px 0;
    transition: .3s;
}

.header-area.sticky{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: #333;
    right: 0; 
    padding: 20px 0 ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo{
    text-transform:uppercase;
    font-size: 26px;
    font-weight: 700;

}
.header ul{
    display: flex;

}
.header ul li {
    margin:0 15px;

}
.header ul li a{
    text-transform: capitalize;
    display: block;

.header ul li a.active{
    color: #d00000;

}

}
.header ul li a:hover{
    color :#d00000;
}

/* Bannar */
.bannar-area{
    padding: 80px 0 ;
    background-position: center;
    background-size: cover;

}
.bannar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #fff;
}
.bannar-content h5{
    font-size: 22px;
    font-weight: 700;
}

.bannar-content h2{
    font-size: 50px;
    line-height: 80px;
    text-transform: uppercase;
}
.bannar-content h2 span{
    color: #d00000;
}
.bannar-content h5 span{
    color: #d00000;
}

.bannar-content h4{
    font-size: 26px;

}

.bannar-content p {
    max-width: 600px;
    margin: 20px 0;
}
.bannar-img img{
    background-color: #d00000;
    padding: 3px;
    border-radius: 15px;
    border: 1px solid #d00000;
}


.btn{
    display: inline-block;
    background-color: #d00000;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 10px 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.btn:hover{
    background-color: #333;
    border-color: #d00000;
    color:#d00000;

}


/* About me */
.about-area{
    padding:100px 0 ;
    background-color: #2a2a2a;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-content{
    flex-basis: 65%;
}

.about-content h4{
    color: #d00000;
    font-size: 40px;
    line-height: 70px;
    text-transform: capitalize;

}

.about-content p {
    color: #fff;
    margin-bottom: 10px ;
}
.about-skills{
    flex-basis: 30%;
}
.about-skills ul li {
    border-bottom: 1px dashed #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
}
.about-skills ul li :last-child{
    border-bottom: 0;
    padding-bottom:0 ;
    margin-bottom:0;

}

/* Projects */
.project-area{
    padding: 100px 0px;
    background-color: #333;
 

}

.project{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.project-single{
    height: 270px;
    z-index: 2;
    background-position: center; /* Center the background image horizontally and vertically */
    background-repeat: no-repeat; /* Ensure the background image is not repeated */
    background-size: cover; /* Scale the background image to cover the entire element */
    position: relative;
    flex-basis: 32%;
    margin: 15px 0px;
    border: 20px solid #202020;
    border-radius: 5px;
}
.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.project-content:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #202020;
    left: 0;
    top: 0;
    opacity: .75;
    z-index: -1;
}

.project-content h4{
    font-size: 26px;
    text-transform:capitalize;
    text-align: center;
    
}

.project-content h4 span{
    display: block;
    font-size: 18px;
    margin-top: 5px;

}

.project-single:hover .project-content{   /* the SPACE (" ") is VERY IMPORTANT */
    opacity: 1;
    visibility: visible;
}

.section-title{
    margin-bottom: 60px;
    text-align: center;
    color: #fff;

}

.section-title h4{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    color: #d00000;
    margin-bottom: 20px;

}

/* Contact Form */
.contact-area{
    padding: 100px 0;

}

.contact{
    max-width: 700px;
    margin: auto;
}
.contact input, .contact textarea{
    width: 100%;
    padding: 15px;
    border: 0;
    margin-bottom: 10px;

}
.contact input[type= "Submit"]{
    width: auto;
    background-color: #d00000;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

/* footer */

.footer-area{
    background-color: #333;
    padding: 60px 0;
    text-align: center;

}

.footer-area a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 10px;

}

.footer-area a:hover{
    border-color: #d00000;
    color: #d00000;

}

.resume-area{
    padding: 100px 0;
    background-color: #2a2a2a;

}

.resume embed{
    display: flex;
    margin-left: auto;
    margin-right: auto;


}

.menu-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}   

/*Medium Layout */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
}

/*Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
}
/*Mobile Layout */

@media only screen and (min-width: 767){
    .container{
        width: 350px;
    }
    .menu-icon i{
        display: block;

    }
    .header ul{
        position: absolute;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        left: 0;
        top: 70px;
        z-index: 99;
        padding: 10px;
        display: none;
    }
    .header ul.show{
        top: 90px;
    }
    .header ul li a {
        padding: 5px;

    }
    .bannar, .about{
        flex-direction: column;
    }
    .bannar-content, .about{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .about-skills{
        width: 100%;
        margin-top: 30px;
    }
    .project-single{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .resume-area{
        display: none;
    }
}
